body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

header {
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 36px;
}

p {
  margin: 5px 0;
  font-size: 18px;
}

.main-content {
  margin-top: 30px;
}

article {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

aside {
  margin-top: 20px;
}

.linkedin-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077b5;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.linkedin-button:hover {
  background-color: #005f91;
}

.github-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.github-button:hover {
  background-color: #005f91;
}

.youtube-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.youtube-button:hover {
  background-color: #005f91;
}

#footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}